.menu-container {
    width: 100%;
}

.menu-content {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.menu-card-parent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
}

.menu-card {
    display: flex;

}

.menu-card-img {}

.menu-card-content {}